@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
:root{
    --background-color: whitesmoke;
    --text-color: black;
    --accent-color: blue;
    --hover-color: rgba(0, 0, 0, 0.1); 

    --title-font-kronaone: 'Krona One', sans-serif;
    --paragraph-font-montserrat: 'Montserrat', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

/* barra de rolagem */

::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-thumb {
    background-color: dodgerblue; 
    border-radius: 6px; 
}
  
::-webkit-scrollbar-track {
 background-color: #f1f1f1; /* Cor da trilha da barra de rolagem */
}
  

/* cabecalho */

.cabecalho{
    top: 0vh;
    width: 100%;
    position: fixed;
    padding: 0% 0% 0% 8%;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-family: var(--paragraph-font-montserrat);
    backdrop-filter: blur(5px);
    transition: 1s;
    -webkit-backdrop-filter: blur(5px); /* Suporte para navegadores baseado em WebKit, como o Safari */
}
.cabecalho__menu{
    display: flex;
    align-items: center;
    transition: 1s;
    gap: 10px;
}

.cabecalho__menu__link{
    font-family: var(--paragraph-font-montserrat);
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 1%;
    text-decoration: none;
}
.cabecalho__menu__link:hover{
    background-color: var(--hover-color);    
}
.cabecalho__menu__destaque{
    background-color: var(--accent-color);
    font-family: var(--paragraph-font-montserrat);
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 1%;
    text-decoration: none;
}
.cabecalho__menu__destaque:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

h1{
    font-weight: bold;
}
body{
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.5s;
}

.titulo-destaque{
    color: var(--accent-color);
}
.paragrafo-destaque{
    color: var(--accent-color);
    font-weight: bold;
    transition: 0.5s;
}
.paragrafo-destaque:hover{
    color: rgba(15, 10, 222, 0.8);
    font-size: 1.7rem;
    transition: 0.5s;
}

/* apresentacao e index.html, about.html*/

.apresentacao{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.apresentacao__conteudo{
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}
.apresentacao__habilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 30px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--title-font-kronaone);
}
.apresentacao__conteudo__subtitulo{
    font-size: 1.5rem;
    font-family: var(--title-font-kronaone);
    text-align: left;
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--paragraph-font-montserrat);
    text-align: justify;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--title-font-kronaone);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    border: 2px solid var(--accent-color);
    text-decoration: none;
    color: var(--accent-color);
    font-family: var(--paragraph-font-montserrat);
    font-weight: 600;
    transition: 0.5s;
}
.apresentacao__links__navegacao:hover{
    background-color: var(--hover-color);
    padding: 3%;
    font-size: 1.75rem;
    transition: 0.5s;
}
.apresentacao__perfil-inicio{
    width: 40%;
    position: static;
    border-radius: 10%;
}
.apresentacao__perfil-sobre{
    width: 30%;
    position: static;
    border-radius: 10%;
}

/* portfolio.html */

.apresentacao__projetos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
    width: 100%;
}
.apresentacao__projetos__projeto{
    font-family: var(--paragraph-font-montserrat);
    display: flex;
    justify-content: space-around;
    padding: 5%;
    background-color: darkgrey;
    border-radius: 5px;
}
.meus-projetos{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    gap: 10px;
    width: 25%;
    height: 100%;
}
.box-projetos{
    width:100%;
    height: 50%;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    transition: 0.5s;
    color: black;
}
.box-projetos:hover{
    width: 130%;
    height: 50%;
    font-size: 1.25rem;
    cursor: pointer;
}
.foto-projeto{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* rodape */

.rodape{
    color: var(--text-color);
    padding: 2%;
    background-color: var(--accent-color);
    text-align: center;
    font-family: var(--paragraph-font-montserrat);
    font-size: 1.1rem;
    font-weight: bold;
    transition: 1s;
    color: white;
}

/* ----skill.html----- */

.skills{
    display: flex;
    text-align: center;
    gap: 40px;
    font-family: var(--paragraph-font-montserrat);
    font-weight: bold;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: 150px;
    width: 150px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    transition: 0.5s;
    color: black;
    img{
        height: 70px;
        width: 70px;
        transition: 0.5s;
    }
}
.box:hover{
    height: 180px;
    width: 180px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.5s;
    img{
        width: 100px;
        height: 100px;
        transition: 0.5s;
    }
}

/* Modo escuro */
body.modo-escuro{
    color: black;
    transition: 0.5s;
}
body.modo-escuro .botao-decodificar:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.modo-toggle {
    display: flex;
    align-items: center;
    background-color: #ddd;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    /* margin-right: 20px; */
}

.bola {
    width: 25px;
    height: 25px;
    background-color: #555;
    border-radius: 50%;
    transition: transform 0.5s ease;
    cursor: pointer;
}

body.modo-escuro {
    background-color: #333;
    color: #fff;
}
body.modo-escuro .texto-imagem-subtitulo .texto-imagem-paragrafo{
    color: black;
}
body.modo-escuro .modo-toggle .bola {
    transform: translateX(25px);
}
body.modo-escuro .titulo-destaque{
    color: dodgerblue;
}
body.modo-escuro .apresentacao__links__navegacao{
    color: dodgerblue;
    border: 2px solid dodgerblue;
}
body.modo-escuro .rodape{
    background-color: dodgerblue;
    transition: 1s;
}
body.modo-escuro .cabecalho__menu__destaque{
    background-color: dodgerblue;
}
body.modo-escuro .paragrafo-destaque{
    color: dodgerblue;
}
body.modo-escuro .box{
    background-color: #b8b3b3;
}
body .modo-escuro .modo-toggle {
    background-color: #555;
}

body .modo-escuro .modo-toggle .bola {
    transform: translateX(20px);
}

.modo-escuro .bola-modo-escuro {
    background-color: #fff;
    
}


@media (max-width: 1024px){
    
    .cabecalho{
        padding: 0% 0% 0% 2%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo{
        width: auto;
        padding: 10px;
    }
    .apresentacao__perfil-inicio{
        margin-top: 50px;
    }
    .apresentacao__perfil-sobre{
        margin-top: 50px;
        width: 40%;
    }
    .apresentacao__projetos{
        padding: 10% 0% 0% 0%;
    }
    .apresentacao__projetos__projeto{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .meus-projetos{
        width: 50%;
    }
    .box-projetos{
        width: 100%;
        height: 60%;
    }
    .box-projetos:hover{
        width: 110%;
    }

}

@media (max-width: 768px){
    .cabecalho-menu-ativo{
        transition: 1s;
    }
    .menu-bar{
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 8px;
        flex-direction: column;
        height: 40px;
        width: 45px;
        transition: 0.5s;
    }
    .menu-bar__barra{
        background-color: black;
        border-radius: 8px;
        width: 40px;
        height: 4px;
    }
    .menu-ativo .barra-1 {
        transform: rotate(-45deg) translate(-8px, 5px);
        transition: 0.5s;
    }
  
    .menu-ativo .barra-2 {
        opacity: 0;
    }
  
    .menu-ativo .barra-3 {
        transform: rotate(45deg) translate(-6px, -5px);
        transition: 0.5s;
    }
    .menu-ativo{
        width: 100%;
    }
    .apresentacao__habilidades{
        margin-top: 50px;
    }
    .apresentacao__projetos{
        padding: 15% 0% 0% 0%;
    }
    .apresentacao__conteudo{
        margin: 0;
    }
    .apresentacao__links__navegacao{
        width: 70%;
    }
    .apresentacao__perfil-inicio{
        width: 70%;
        margin-top: 10%;
    }
    .apresentacao__perfil-sobre{
        width: 70%;
        margin-top: 10%;
    }
    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cabecalho{
        display: flex;
        align-items: center;
        padding: 2%;
        transition: 0.5s;
    }
    .cabecalho-menu-ativo{
        align-items: flex-start;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .cabecalho__menu{
        display: none;
    }
    .cabecalho__menu__destaque{
        padding: 4.1%;
    }
    .cabecalho__menu__destaque{
        font-size: 1.5rem;
        text-align: center;
    }
    .cabecalho__menu__link{
        font-size: 1.5rem;
    }
    
    
}

@media (max-width: 500px){

    .apresentacao__perfil-inicio{
        margin-top: 15%;
    }
    .apresentacao__perfil-sobre{
        margin-top: 15%;
    }

}